<template>
    <div v-if="!$auth.ready()">
        <div class="flex-center position-ref full-height">
            <div class="message" style="padding: 10px;">
                Site loading...
            </div>
        </div>
    </div>
    <div v-else-if="$auth.ready()">
        <div class="wrapper" v-if="$auth.check()">
    <flash-message class="flash-message"></flash-message>
            <header-component></header-component>
            <router-view></router-view>
            <footer-component></footer-component>
        </div>
        <div v-else>
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    import HeaderComponent from "./components/HeaderComponent";
    import FooterComponent from "./components/FooterComponent";

    export default {
        components: {
            HeaderComponent,
            FooterComponent
        },
    }
</script>