// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~admin-lte/dist/css/adminlte.css";

@import '~vue-flash-message/dist/vue-flash-message.min.css';
@import './flash-messages.sass';

.content-wrapper {
  padding-top: 10px;
}
table.logs td.text-left{
  white-space: pre-line;
}