<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Фильтр</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name: 'accounts' }">Аккаунты</router-link>
                            </li>
                            <li class="breadcrumb-item">
                                <router-link :to="{ name: 'account-filters',params:{ id: this.$route.params.account}}">
                                    Фильры
                                </router-link>
                            </li>
                            <li class="breadcrumb-item active">Фильтр</li>
                        </ol>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <form autocomplete="off" @submit.prevent="save">
                    <button type="submit" class="btn btn-success mb-3">Сохранить</button>
                    <div class="row">
                        <div class="form-group col-md-4" v-bind:class="{ 'alert-danger': error && errors.name }">
                            <label for="name">Имя фильтра</label>
                            <input type="text" class="form-control" id="name" placeholder="Введите имя фильтра"
                                   v-model="filter.name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="capper">Имя капера</label>
                            <input id="capper" list="encodings" value="" class="form-control" v-model="filter.capper" required>
                            <datalist id="encodings">
                                <option value="LIVE Mr Malaka">LIVE Mr Malaka</option>
                                <option value="LIVE Belgian_Tipstah">LIVE Belgian_Tipstah</option>
                                <option value="Anubis">Anubis</option>
                                <option value="LIVE From Denmark with love">LIVE From Denmark with love</option>
                                <option value="bangpotatoes">bangpotatoes</option>
                                <option value="LIVE saero">LIVE saero</option>
                                <option value="LIVE ignacia">LIVE ignacia</option>
                                <option value="MyTennisTip">MyTennisTip</option>
                                <option value="LIVE Le Girondin">LIVE Le Girondin</option>
                                <option value="Fartozhop">Fartozhop</option>
                                <option value="LIVE V22 Tipster">LIVE V22 Tipster</option>
                                <option value="Gustavo Lampião">Gustavo Lampião</option>
                                <option value="LIVE YBDRS">LIVE YBDRS</option>
                                <option value="LIVE J">LIVE J</option>
                                <option value="LIVE mpakt">LIVE mpakt</option>
                                <option value="LIVE Vinicius Duarte">LIVE Vinicius Duarte</option>
                                <option value="IvanON tip's">IvanON tip's</option>
                                <option value="LIVE MasterPicks BR">LIVE MasterPicks BR</option>
                                <option value="LIVE Editor">LIVE Editor</option>
                                <option value="LIVE Bassie90">LIVE Bassie90</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="stop-word">Стоп слова</label>
                            <input type="text" class="form-control" id="stop-word" v-model="filter.stop_word">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="plus-word">Плюс слова</label>
                            <input type="text" class="form-control" id="plus-word" v-model="filter.plus_word">
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Конторы</h3>
                            <div class="card-tools">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="filter.all_bookmakers">Все конторы
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3  col-lg-3 col-xl-2" v-for="bookmaker in bookmakers">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="filter.bookmaker" :value="bookmaker.key"
                                                   :disabled="filter.all_bookmakers ? true : false">{{bookmaker.value}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Типы ставок</h3>
                            <div class="card-tools">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="filter.all_outcomes">Все типы
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-lg-1" v-for="outcome in outcomes">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" :id="outcome" :value="outcome"
                                                   v-model="filter.outcomes"
                                                   :disabled="filter.all_outcomes ? true : false">{{outcome}}
                                            <!--<input type="checkbox" v-model="item.value">{{outcome}}-->
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Виды спорта</h3>
                            <div class="card-tools">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model="filter.all_sports">Все типы
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 col-xl-2" v-for="sport in sports">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="filter.sport" :value="sport.key"
                                                   :disabled="filter.all_sports ? true : false">{{sport.value}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Ставка капера</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="rate-min">от</label>
                                    <input type="text" class="form-control" id="rate-min" v-model="filter.rate_min" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="rate-max">до</label>
                                    <input type="text" class="form-control" id="rate-max" v-model="filter.rate_max" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Коэффициенты</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="coefficient-min">от</label>
                                    <input type="text" class="form-control" id="coefficient-min"
                                           v-model="filter.coefficient_min" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="coefficient-max">до</label>
                                    <input type="text" class="form-control" id="coefficient-max"
                                           v-model="filter.coefficient_max" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                Ставка</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="koef">Допустимый разбег: Коэфа</label>
                                        <input type="numeric" class="form-control" id="koef"
                                               v-model="filter.koef" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="total">Тотала</label>
                                        <input type="numeric" class="form-control" id="total"
                                               v-model="filter.total" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-3">
                                    <input type="radio" id="one" value="1" v-model="filter.rate_type">
                                    <label for="one">Фиксированная</label>
                                    <br>
                                    <input type="radio" id="two" value="2" v-model="filter.rate_type">
                                    <label for="two">Процент от банка</label>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="rate">Банк/Фиксированная ставка</label>
                                        <input type="text" class="form-control" id="rate"
                                               v-model="filter.rate" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="interest-rate">Процент от ставки</label>
                                        <input type="text" class="form-control" id="interest-rate"
                                               v-model="filter.interest_rate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Сохранить</button>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                filter: {
                    account_id: null,
                    name: '',
                    rate: 0,
                    rate_type: 1,
                    interest_rate: null,
                    rate_min: null,
                    rate_max: null,
                    coefficient_min: null,
                    coefficient_max: null,
                    stop_word: null,
                    plus_word: null,
                    outcomes: [],
                    sport: [],
                    bookmaker: [],
                    all_outcomes: false,
                    all_bookmakers: false,
                    all_sports: false,
                    koef: null,
                    total: null,
                    capper: null,
                },
                outcomes: [],
                sports: [],
                bookmakers: [],
                error: false,
                errors: {},
            }
        },
        mounted() {
            this.getOutcomes();
            this.getBookmakers();
            this.getSports();
            this.getFilter();
            this.filter.account_id = this.$route.params.account;
        },
        methods: {
            getBookmakers() {
                this.axios.post('/filters/bookmakers')
                    .then((response) => {
                        this.bookmakers = response.data;
                    });
            },
            getSports() {
                this.axios.post('/filters/sports')
                    .then((response) => {
                        this.sports = response.data;
                    });
            },
            getOutcomes() {
                this.axios.post('/filters/outcomes')
                    .then((response) => {
                        this.outcomes = response.data;
                    });
            },
            getFilter() {
                console.log(this.$route.params);

                let vm = this;
                this.axios.post('/filter/' + this.$route.params.id)
                    .then((response) => {
                        vm.filter = Object.assign({}, vm.filter, response.data);
                    });
            },
            save() {
                this.filter.capper = this.filter.capper.trim();
                let vm = this;

                this.axios.post('/filter/store/' + (this.filter.id ? this.filter.id : this.$route.params.id), this.filter)
                    .then((response) => {
                        this.flash('Сохранено', 'success',{timeout: 2000});
                        vm.filter = Object.assign({}, vm.filter, response.data);
                        if (this.$route.params.id == "0") {
                            if (this.filter.id != null) {
                                this.$router.push({
                                    name: 'account-filter',
                                    params: {account: this.filter.account_id, id: this.filter.id}
                                });
                            }
                        }
                    }).catch((resp) => {
                    vm.error = true;
                    vm.errors = resp.response.data.errors;
                });
            }
        }
    }
</script>

<style>

</style>