<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Аккаунты</h1>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <router-link :to="{ name: 'create-account' }" class="btn btn-info mb-3">Добавить</router-link>
                        <account-table></account-table>

            </div>
        </section>
    </div>
</template>

<script>
    import AccountTable from "../components/AccountTable";

    export default {
        components: {AccountTable}
    }
</script>