<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Фильтры</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name: 'accounts' }">Аккаунты</router-link>
                            </li>
                            <li class="breadcrumb-item active">Фильтры</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <router-link :to="{ name: 'account-filter', params:{account: this.$route.params.id, id: 0 } }"
                             class="btn btn-info mb-3">Добавить
                </router-link>
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table table table-striped projects">
                            <thead>
                            <tr>
                                <td>Имя фильтра</td>
                                <td>Ставка</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="filter in filters">
                                <td>
                                    <router-link
                                            :to="{ name: 'account-filter', params:{account: filter.account_id, id: filter.id } }">
                                        {{filter.name}}
                                    </router-link>
                                </td>
                                <td>{{filter.rate}}</td>
                                <td class="project-actions text-right">
                                    <button class="btn btn-danger btn-sm" v-on:click="removeFilter(filter.id)">Удалить</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

    export default {
        name: "AccountFilters",
        data: function () {
            return {
                filters: [],
                accountId: 0,
            }
        },
        components: {},
        created() {
            this.accountId = this.$route.params.id;
            this.getFilters();
        },
        methods: {
            getFilters: function () {
                this.axios.post('/filters', {
                    account_id: this.accountId,
                }).then((response) => {
                    this.filters = response.data;
                });
            },
            removeFilter: function (id) {
                this.axios.post('/filters/remove', {
                    id: id,
                }).then((response) => {
                    this.getFilters();
                });
            },
        }
    }
</script>

<style>

</style>