<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Логи</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name: 'accounts' }">Аккаунты</router-link>
                            </li>
                            <li class="breadcrumb-item active">Логи</li>
                        </ol>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <vue-bootstrap4-table :rows="logs" :columns="columns" :config="config" :classes="classes">
                </vue-bootstrap4-table>
            </div>
        </section>
    </div>
</template>

<script>

    import VueBootstrap4Table from 'vue-bootstrap4-table'

    export default {
        name: "AccountLog",
        data: function () {
            return {
                logs: [],
                columns: [
                    {
                        label: "Дата",
                        name: "created_at",
                        filter: {
                            type: "simple",
                            placeholder: "Дата"
                        },
                        sort: true,
                    },
                    {
                        label: "Тип",
                        name: "type",
                        filter: {
                            type: "simple",
                            placeholder: "Тип"
                        },
                    },
                    {
                        label: "Сообщение",
                        name: "message",
                    },
                    {
                        label: "Данные",
                        name: "json",
                        row_text_alignment:  "text-left",
                        column_text_alignment:  "text-left",
                        column_classes:  "data",
                    },
                    {
                        label: "ip",
                        name: "ip_address",
                    }
                ],
                config: {
                    rows_selectable: true,
                    card_title: "",
                    global_search: {
                        visibility: false,
                    },
                    show_refresh_button: false,
                    show_reset_button: false,
                    card_mode: false,
                    highlight_row_hover: false,
                    pagination_info: false,
                    per_page: 20,
                    per_page_options: [20, 40, 60],
                },
                classes: {
                    table: {
                        "table table-striped logs": true,
                    },
                },
            }
        },
        components: {
            VueBootstrap4Table
        },
        mounted() {
            this.getLog();
        },
        methods: {
            getLog: function () {
                this.axios.post('/accounts/log', {
                    id: this.$route.params.id,
                }).then((response) => {
                    this.logs = response.data;
                });
            },
        }
    }
</script>

<style>

</style>