<template>
    <div class="content-wrapper">
        <div class="content-header">


            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Добавление аккаунта</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link :to="{ name: 'accounts' }">Аккаунты</router-link>
                            </li>
                            <li class="breadcrumb-item active">Добавление аккаунта</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="alert alert-danger" v-if="error && !success">
                    <p>Произошла ошибка.</p>
                </div>
                <div class="alert alert-success" v-if="success">
                    <p>Аккаунт добавлен</p>
                </div>
                <form autocomplete="off" @submit.prevent="register" method="GET">
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.login }">
                        <label for="login">Логин</label>
                        <input type="text" id="login" class="form-control" v-model="account.login"
                               required>
                        <span class="form-text text-muted" v-if="error && errors.login">{{ errors.login }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.password }">
                        <label for="password">Пароль</label>
                        <input type="text" id="password" class="form-control" v-model="account.password"
                               required>
                        <span class="form-text text-muted" v-if="error && errors.password">{{ errors.password }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.proxy }">
                        <label for="proxy">Прокси сервер</label>
                        <input type="text" id="proxy" class="form-control"
                               v-model="account.proxy"
                               required>
                        <span class="form-text text-muted" v-if="error && errors.proxy">{{ errors.country }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.timezone }">
                        <label for="timezone">Часовой пояс</label>
                        <input type="number" id="timezone" class="form-control"
                               v-model="account.timezone"
                               required>
                        <span class="form-text text-muted" v-if="error && errors.timezone">{{ errors.timezone }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.country }">
                        <label for="country">Страна</label>
                        <input type="text" id="country" class="form-control"
                               v-model="account.country"
                               required>
                        <span class="form-text text-muted" v-if="error && errors.country">{{ errors.country }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.telegram }">
                        <label for="country">Телеграм</label>
                        <input type="text" id="telegram" class="form-control"
                               v-model="account.telegram">
                        <span class="form-text text-muted" v-if="error && errors.telegram">{{ errors.telegram }}</span>
                    </div>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                account: {
                    login: '',
                    password: '',
                    proxy: '',
                    country: '',
                    timezone: 0,
                },
                error: false,
                errors: {},
                success: false
            };
        },
        methods: {
            register() {
                this.success = false;
                let app = this;
                this.axios.post('/accounts/create', app.account).then((response) => {
                    app.success = true;
                    app.error = false;

                }).catch(resp => {
                    app.error = true;
                    app.errors = resp.response.data.errors;
                });
            }
        }
    }
</script>