<template>
    <div class="content-wrapper">
        <div class="content-header">

            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Личный кабинет</h1>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">

            <div class="container-fluid">
                <div class="mb-4">
                    Ваш токен: <span>{{this.$auth.user().key}}</span>

                </div>
                <div class="mb-4">
                    <label for="telegramId">Ид диалога в Telegram </label>
                    <input id="telegramId" type="text" class="form-control" v-model="telegramUser">
                </div>
                <button v-on:click="saveTelegram()" class="btn btn-success">Сохранить</button>


            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                telegramUser: null
            }
        },
        mounted() {
            if (!this.$auth.check()) {
                this.$router.push('login')
            }
            this.getTelegram();
        },
        methods: {
            getTelegram() {
                let vm = this;
                this.axios.post('/users/telegram/get').then((response) => {
                    vm.telegramUser = response.data.telegram_user_id;
                });
            },
            saveTelegram() {
                let vm = this;
                this.axios.post('/users/telegram/set', {
                    telegram: vm.telegramUser,
                }).then((response) => {
                });
            },
        }

    }
</script>

