
<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Регистрация пользователя</h1>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="alert alert-danger" v-if="error && !success">
                    <p>Произошла ошибка, не удалось завершить регистрацию.</p>
                </div>
                <div class="alert alert-success" v-if="success">
                    <p>Регистрация завершена.
                    </p>
                </div>
                <form autocomplete="off" @submit.prevent="register" method="GET">
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.name }">
                        <label for="name">Имя</label>
                        <input type="text" id="name" class="form-control" v-model="name" required>
                        <span class="form-text text-muted" v-if="error && errors.name">{{ errors.name }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.email }">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" placeholder="user@example.com"
                               v-model="email"
                               required>
                        <span class="form-text text-muted" v-if="error && errors.email">{{ errors.email }}</span>
                    </div>
                    <div class="form-group" v-bind:class="{ 'has-error': error && errors.password }">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" class="form-control" v-model="password" required>
                        <span class="form-text text-muted" v-if="error && errors.password">{{ errors.password }}</span>
                    </div>
                    <button type="submit" class="btn btn-success">Отправить</button>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: '',
                email: '',
                password: '',
                error: false,
                errors: {},
                success: false
            };
        },
        mounted() {
            if (!this.$auth.check('admin')) {
                this.$router.push('/')
            }
        },
        methods: {
            register() {
                this.success = false;
                let app = this
                this.$auth.register({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                        app.success = true
                    },
                    error: function (resp) {
                        app.error = true;
                        app.errors = resp.response.data.errors;
                    },
                    redirect: null
                });
            }
        }
    }
</script>