<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Настройки</h1>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div v-if="Object.keys(status).length > 0" class="alert alert-info">
                    {{status}}
                </div>
                <div class="form-group col-md-4">
                    <label for="url_callback_bot">Callback url для Telegram</label>
                    <input id="url_callback_bot" type="text" v-model="settings.url_callback_bot"
                           class="form-control"
                           required/>

                </div>
                <input type="submit" class="btn btn-primary" v-on:click="store()">
                <button type="submit" class="btn btn-primary" v-on:click="setWebHook()">Отправить url</button>
                <button type="submit" class="btn btn-primary" v-on:click="getWebHookInfo()">Получить информацию</button>
            </div>

        </section>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                settings: {
                    url_callback_bot: ''
                },
                status: {}
            }
        },

        mounted() {
            this.get();
        },
        methods: {
            store() {
                let vm = this;
                vm.axios.post('/setting/store', vm.settings)
                    .then(function (response) {

                        vm.status = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            setWebHook() {
                let vm = this;
                vm.axios.post('/setting/setwebhook')
                    .then(function (response) {
                        vm.status = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getWebHookInfo() {
                let vm = this;
                vm.axios.post('/setting/getwebhookinfo')
                    .then(function (response) {
                        vm.status = response.data
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get() {
                let vm = this;
                vm.axios.get('/setting', vm.settings)
                    .then(function (response) {
                        vm.settings = Object.assign({}, vm.settings, response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

