<template>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Пользователи</h1>
                    </div><!-- /.col -->
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body p-0">
                        <user-table></user-table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import UserTable from "../components/UserTable";

    export default {
        components: {UserTable}
    }
</script>