<template>
    <section class="col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-header d-flex p-0 ui-sortable-handle" >
                <h3 class="card-title p-3" style="min-width:130px">
                    {{account.login}}
                </h3>
                <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item">


                        <router-link :to="{ name: 'store-account', params:{id: account.id} }" class="btn btn-primary m-1 btn-sm">
                            Редактировать
                        </router-link>
                    </li>
                    <li class="nav-item">

                        <router-link :to="{name:'account-filters',params:{id:account.id}}" class="btn btn-primary m-1 btn-sm">
                            Фильтры
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'account-log',params:{id:account.id}}" class="btn btn-primary m-1 btn-sm">
                            Логи
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Статус</b> <span class="float-right">

                    <span v-if="account.status"><i class="fas fa-circle success"
                                                   style="color:#38c172;"></i>Активен</span>
                        <span v-else-if="account.disable"><i class="fas fa-circle success"
                                                             style="color:#e3342f;"></i>Отключен</span>
                        <span v-else><i class="fas fa-circle success" style="color:#6cb2eb;"></i>Ожидает</span>

                    </span>
                    </li>
                    <li class="list-group-item">
                        <b>Телеграм</b> <span class="float-right">{{account.telegram}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Прокси</b> <span class="float-right">{{account.proxy}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Часовой пояс</b> <span class="float-right">{{account.timezone<0? account.timezone : '+' + account.timezone}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Страна</b> <span class="float-right">{{account.country}}</span>
                    </li>
                    <li class="list-group-item">
                        <b>Последнее подключение</b> <span class="float-right">{{account.last_connection_at}}</span>
                    </li>
                    <li v-if="account.message" class="list-group-item">
                        <b>Причина отключения</b> <span class="float-right">{{account.message}}</span>
                    </li>
                </ul>
                    <button class="btn btn-danger btn-sm" v-on:click="remove()">
                        <i class="fas fa-trash">
                        </i>
                        Удалить
                    </button>
            </div>
        </div>
    </section>

</template>

<script>
    export default {
        name: "AccountTableRow",
        methods: {
            remove() {
                let vm = this;
                vm.axios.post('/accounts/remove', vm.account)
                    .then(function (response) {
                        vm.$root.$emit('removeAccount');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cancel() {
                navigator.clipboard.writeText('Hello Alligator!')
                    .then(() => {
                        // Получилось!
                    })
                    .catch(err => {
                        console.log('Something went wrong', err);
                    });
            },
            copy() {
                this.editMode = false;
            },
        },
        props: ['account']
    }
</script>

<style>

    .card-title{
        /*width:100%;*/
    }
    @media only screen and (max-width: 1124px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>