<template>
    <div class="accounts row">
        <account-table-row v-for="account in accounts" :key="account.id" :account="account"></account-table-row>
    </div>
</template>

<script>
    import AccountTableRow from "./AccountCard";

    export default {
        name: "AccountTable",
        components: {AccountTableRow},
        data: function () {
            return {
                accounts: [],
                timer: '',
            }
        },
        created: function () {
            window.accountsTimer = setInterval(this.getAccounts.bind(this), 4000)
            this.getAccounts();

        },
        mounted() {
            let vm = this;
            vm.$root.$on('removeAccount', function () {
                vm.getAccounts();
                console.log('removeAccount');
            });
        },
        methods: {
            getAccounts: function () {
                this.axios.post('/accounts').then((response) => {
                    this.accounts = response.data;
                });
            },
        },
        beforeDestroy: function () {
            clearInterval(window.accountsTimer);
        }
    }
</script>

<style>
    .list-group-item {
        word-break: break-all;
    }

</style>