<template>
    <tr>
        <td class="text-left  ">
            <span v-if="account.status"><i class="fas fa-circle success" style="color:#38c172;"></i>Активен</span>
            <span v-else-if="account.disable"><i class="fas fa-circle success"
                                                 style="color:#e3342f;"></i>Отключен</span>
            <span v-else><i class="fas fa-circle success" style="color:#6cb2eb;"></i>Ожидает</span>
        </td>
        <td>

            <router-link
                    :to="{ name: 'store-account', params:{id: account.id} }">
                {{account.login}}
            </router-link>
        </td>
        <td>{{account.telegram}}</td>
        <td style="max-width: 120px;">{{account.proxy}}</td>
        <td>{{account.timezone<0? account.timezone : '+' + account.timezone}}</td>
        <td>{{account.country}}</td>
        <td>{{account.last_connection_at}}</td>
        <td>{{account.message}}</td>
        <td>
            <router-link :to="{name:'account-filters',params:{id:account.id}}" class="btn btn-success btn-sm">
                Фильры
            </router-link>
            <router-link :to="{name:'account-log',params:{id:account.id}}" class="btn btn-info btn-sm">
                Логи
            </router-link>
        </td>
        <td class="project-actions text-right">
            <button class="btn btn-danger btn-sm" v-on:click="remove()">
                <i class="fas fa-trash">
                </i>
                Удалить
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "AccountTableRow",
        methods: {
            remove() {
                let vm = this;
                vm.axios.post('/accounts/remove', vm.account)
                    .then(function (response) {
                        vm.$root.$emit('removeAccount');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cancel() {
                navigator.clipboard.writeText('Hello Alligator!')
                    .then(() => {
                        // Получилось!
                    })
                    .catch(err => {
                        console.log('Something went wrong', err);
                    });
            },
            copy() {
                this.editMode = false;
            },
        },
        props: ['account']
    }
</script>

<style>

    @media only screen and (max-width: 1124px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>