<template>
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline" style="font-size:10px">
            Developed DeRestStorm<br>2019
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019.</strong>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style>

</style>