<template>
    <div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li v-if="$auth.check()" class="nav-item d-sm-inline-block">
                    <a href="#" @click.prevent="$auth.logout({redirect: '/'})">Выйти</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <router-link :to="{ name: 'home', params: {}}" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Личный кабинет</span>
            </router-link>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">

                        <router-link :to="{ name: 'home', params: {}}" class="d-block">{{$auth.user().name}}
                        </router-link>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" role="menu"
                        data-accordion="false">
                        <li v-if="$auth.check('admin')" class="nav-item">
                            <router-link :to="{ name: 'settings' }" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>Настройки
                            </router-link>
                        </li>
                        <li v-if="$auth.check('admin')" class="nav-item">
                            <router-link :to="{ name: 'register' }" class="nav-link">
                                <i class="nav-icon fas fa-user-plus"></i>Регистрация
                            </router-link>
                        </li>
                        <li v-if="$auth.check('admin')" class="nav-item">
                            <router-link :to="{ name: 'users' }" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>Пользователи
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'accounts' }" class="nav-link">
                                <i class="nav-icon fas fa-clipboard-list"></i>Аккаунты
                            </router-link>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style>

</style>