<template>
    <table class="table table-striped projects">
        <thead>
        <tr>
            <td>Имя</td>
            <td>Email</td>
            <td>Роль</td>
            <td>Дата регистрации</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <user-table-row v-for="user in users" :key="user.id" :user="user"></user-table-row>
        </tbody>
    </table>
</template>

<script>
    import UserTableRow from "./UserTableRow";

    export default {
        name: "UserTable",
        components: {UserTableRow},
        data: function () {
            return {
                users: [],
            }
        },
        mounted() {
            let vm = this;
            vm.getUsers();
            vm.$root.$on('removeUser', function () {
                vm.getUsers();
                console.log('removeUser');
            });
        },
        methods: {
            getUsers: function () {
                this.axios.post('/users').then((response) => {
                    this.users = response.data;
                });
            },
        }
    }
</script>

<style>

</style>