<template>
    <tr v-if="!editMode">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.updated_at}}</td>
        <td class="project-actions text-right">
            <button class="btn btn-info btn-sm" v-on:click="edit()">
                <i class="fas fa-pencil-alt">
                </i>
                Изменить
            </button>
            <button v-if="user.role != 'admin'" class="btn btn-danger btn-sm" v-on:click="remove()">
                <i class="fas fa-trash">
                </i>
                Удалить
            </button>
        </td>
    </tr>
    <tr v-else>
        <td><input type="text" class="form-control" v-model="userData.name" placeholder="name"></td>
        <td><input type="email" class="form-control" v-model="userData.email" placeholder="user@example.com"></td>
        <td>{{userData.role}}</td>
        <td>{{userData.created_at}}</td>
        <td class="project-actions text-right">
            <button class="btn btn-success btn-sm" v-on:click="save()">
                <i class="fas fa-save">
                </i>
                Сохранить
            </button>
            <button class="btn btn-default btn-sm" v-on:click="cancel()">
                <i class="fas fa-times-circle">
                </i>
                Отменить
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "UserTableRow",
        data: function () {
            return {
                userData: {},
                editMode: false,
            }
        },
        mounted() {
        },
        methods: {
            edit() {
                this.editMode = true;
                this.userData = this.user;
            },
            save() {
                let vm = this;

                this.axios.post('/users/update', vm.userData)
                    .then(function (response) {
                        vm.editMode = false;
                        vm.user = vm.userData;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            remove() {
                let vm = this;
                vm.axios.post('/users/remove', vm.user)
                    .then(function (response) {
                        vm.$root.$emit('removeUser');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cancel() {
                this.editMode = false;
            }
        },
        props: ['user']
    }
</script>

<style>

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
</style>